body{
    background-color: #333;
    color: white;
}
img{
    width: 300px;
    float:right;
}
h1{
    color: aqua;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
dt{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
dd{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
li{
    padding:10px;
}
a{
    color:whitesmoke
}
